<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta content="de" http-equiv="Content-Language" />
<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
<title>am a member of</title>
</head>

<body>

<p class="MsoNormal" style="border: 0px; margin: 0px 0px 0.8em; padding: 0px; font-size: 13px; font-weight: normal; font-family: OpenSans, Arial, Helvetica, sans-serif; color: rgb(52, 52, 52); line-height: 18px; font-style: normal; font-variant: normal; letter-spacing: normal; orphans: auto; text-indent: 0px; text-transform: none; white-space: normal; widows: auto; word-spacing: 0px; -webkit-text-stroke-width: 0px; text-align: justify; background-color: rgb(237, 237, 229);">
				<span lang="EN-US" style="border: 0px; margin: 0px; padding: 0px; font-size: medium;">
				Dear ………….</span></p>
<p class="MsoNormal" style="border: 0px; margin: 0px 0px 0.8em; padding: 0px; font-size: 13px; font-weight: normal; font-family: OpenSans, Arial, Helvetica, sans-serif; color: rgb(52, 52, 52); line-height: 18px; font-style: normal; font-variant: normal; letter-spacing: normal; orphans: auto; text-indent: 0px; text-transform: none; white-space: normal; widows: auto; word-spacing: 0px; -webkit-text-stroke-width: 0px; text-align: justify; background-color: rgb(237, 237, 229);">
<span lang="EN-US" style="border: 0px; margin: 0px; padding: 0px; font-size: medium;">
I </span>
<span style="border: 0px; margin: 0px; padding: 0px; font-size: medium;">
xxxx </span>
<span lang="EN-US" style="border: 0px; margin: 0px; padding: 0px; font-size: medium;">
am a member of the&nbsp;Independent&nbsp;Standards Commission of the International 
Mediation Institute. The IMI has an international scheme for the certification 
of mediators. For me, it is important to support that initiative&nbsp;because it 
provides important information about mediators to assist users of mediation 
services in the future.</span></p>
<p class="MsoNormal" style="border: 0px; margin: 0px 0px 0.8em; padding: 0px; font-size: 13px; font-weight: normal; font-family: OpenSans, Arial, Helvetica, sans-serif; color: rgb(52, 52, 52); line-height: 18px; font-style: normal; font-variant: normal; letter-spacing: normal; orphans: auto; text-indent: 0px; text-transform: none; white-space: normal; widows: auto; word-spacing: 0px; -webkit-text-stroke-width: 0px; text-align: justify; background-color: rgb(237, 237, 229);">
<span lang="EN-US" style="border: 0px; margin: 0px; padding: 0px; font-size: medium;">
An essential part of the certification process is that each mediator&nbsp;appoints an 
independent "Reviewer" who&nbsp; undertakes to&nbsp;prepare and keep updated&nbsp;a&nbsp;digest 
of feedback from prior users.</span></p>
<p class="MsoNormal" style="border: 0px; margin: 0px 0px 0.8em; padding: 0px; font-size: 13px; font-weight: normal; font-family: OpenSans, Arial, Helvetica, sans-serif; color: rgb(52, 52, 52); line-height: 18px; font-style: normal; font-variant: normal; letter-spacing: normal; orphans: auto; text-indent: 0px; text-transform: none; white-space: normal; widows: auto; word-spacing: 0px; -webkit-text-stroke-width: 0px; text-align: justify; background-color: rgb(237, 237, 229);">
<span lang="EN-US" style="border: 0px; margin: 0px; padding: 0px; font-size: medium;">
This Digest is&nbsp;then available as information to any future user who is selecting 
a mediator.</span></p>
<p class="MsoNormal" style="border: 0px; margin: 0px 0px 0.8em; padding: 0px; font-size: 13px; font-weight: normal; font-family: OpenSans, Arial, Helvetica, sans-serif; color: rgb(52, 52, 52); line-height: 18px; font-style: normal; font-variant: normal; letter-spacing: normal; orphans: auto; text-indent: 0px; text-transform: none; white-space: normal; widows: auto; word-spacing: 0px; -webkit-text-stroke-width: 0px; text-align: justify; background-color: rgb(237, 237, 229);">
<span lang="EN-US" style="border: 0px; margin: 0px; padding: 0px; font-size: medium;">
I wonder if I could ask you to take a few minutes (no more than 5-10!) to 
complete a feedback questionnaire for me?&nbsp;&nbsp;The Feedback questionnaire – and more 
information - can be downloaded at:</span></p>
<p class="MsoNormal" style="border: 0px; margin: 0px 0px 0.8em; padding: 0px; font-size: 13px; font-weight: normal; font-family: OpenSans, Arial, Helvetica, sans-serif; color: rgb(52, 52, 52); line-height: 18px; font-style: normal; font-variant: normal; letter-spacing: normal; orphans: auto; text-indent: 0px; text-transform: none; white-space: normal; widows: auto; word-spacing: 0px; -webkit-text-stroke-width: 0px; text-align: justify; background-color: rgb(237, 237, 229);">
<span lang="EN-US" style="border: 0px; margin: 0px; padding: 0px; font-size: medium;">
<a href="http://imimediation.org/feedback-request-form" style="border: 0px; margin: 0px; padding: 0px; font-size: 16px; color: rgb(136, 136, 136); text-decoration: none;" target="_blank">
<strong style="border: 0px; margin: 0px; padding: 0px; font-size: 16px; font-weight: normal; font-family: OpenSansSemibold, Arial, Helvetica, sans-serif;">
http://imimediation.org/feedback-request-form</strong></a><br></span></p>
<p class="MsoNormal" style="border: 0px; margin: 0px 0px 0.8em; padding: 0px; font-size: 13px; font-weight: normal; font-family: OpenSans, Arial, Helvetica, sans-serif; color: rgb(52, 52, 52); line-height: 18px; font-style: normal; font-variant: normal; letter-spacing: normal; orphans: auto; text-indent: 0px; text-transform: none; white-space: normal; widows: auto; word-spacing: 0px; -webkit-text-stroke-width: 0px; text-align: justify; background-color: rgb(237, 237, 229);">
<span lang="EN-US" style="border: 0px; margin: 0px; padding: 0px; font-size: medium;">
I would ask you to return the questionnaire to me as I have undertaken to 
collect&nbsp;the feedback for my&nbsp;Reviewer in the first instance. I shall send the 
completed form to the Reviewer&nbsp;who will keep it in confidence.</span></p>
<p class="MsoNormal" style="border: 0px; margin: 0px 0px 0.8em; padding: 0px; font-size: 13px; font-weight: normal; font-family: OpenSans, Arial, Helvetica, sans-serif; color: rgb(52, 52, 52); line-height: 18px; font-style: normal; font-variant: normal; letter-spacing: normal; orphans: auto; text-indent: 0px; text-transform: none; white-space: normal; widows: auto; word-spacing: 0px; -webkit-text-stroke-width: 0px; text-align: justify; background-color: rgb(237, 237, 229);">
<span lang="EN-US" style="border: 0px; margin: 0px; padding: 0px; font-size: medium;">
If you are able to do this, I shall be grateful. This is part of a concerted 
effort to raise and maintain standards among mediators&nbsp;on a worldwide level for 
the benefit of future users of mediation services.</span></p>
<p class="MsoNormal" style="border: 0px; margin: 0px 0px 0.8em; padding: 0px; font-size: 13px; font-weight: normal; font-family: OpenSans, Arial, Helvetica, sans-serif; color: rgb(52, 52, 52); line-height: 18px; font-style: normal; font-variant: normal; letter-spacing: normal; orphans: auto; text-indent: 0px; text-transform: none; white-space: normal; widows: auto; word-spacing: 0px; -webkit-text-stroke-width: 0px; text-align: justify; background-color: rgb(237, 237, 229);">
<span lang="EN-US" style="border: 0px; margin: 0px; padding: 0px; font-size: medium;">
Kind regards</span></p>
<p style="border: 0px; margin: 0px 0px 0.8em; padding: 0px; font-size: 13px; font-weight: normal; font-family: OpenSans, Arial, Helvetica, sans-serif; color: rgb(52, 52, 52); line-height: 18px; font-style: normal; font-variant: normal; letter-spacing: normal; orphans: auto; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: auto; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(237, 237, 229);">
<span style="border: 0px; margin: 0px; padding: 0px; font-size: medium;">
<span lang="EN-US" style="border: 0px; margin: 0px; padding: 0px; font-size: 16px;">
John Sturrock QC<br>Arugam Bay Taxi Initiative</span></span></p>
<p style="border: 0px; margin: 0px 0px 0.8em; padding: 0px; font-size: 13px; font-weight: normal; font-family: OpenSans, Arial, Helvetica, sans-serif; color: rgb(52, 52, 52); line-height: 18px; font-style: normal; font-variant: normal; letter-spacing: normal; orphans: auto; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: auto; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(237, 237, 229);">
<span style="border: 0px; margin: 0px; padding: 0px; font-size: medium;">
<span lang="EN-US" style="border: 0px; margin: 0px; padding: 0px; font-size: 16px;">SVH, Arugam Bay<br>PottuVille<br>E.P.<br>32 500<br>Sri Lanka</span></span></p>
<p style="border: 0px; margin: 0px 0px 0.8em; padding: 0px; font-size: 13px; font-weight: normal; font-family: OpenSans, Arial, Helvetica, sans-serif; color: rgb(52, 52, 52); line-height: 18px; font-style: normal; font-variant: normal; letter-spacing: normal; orphans: auto; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: auto; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(237, 237, 229);">http://www.arugam.info/abay-taxi-initiative/</p>
    
</body>

</html>
